#images-block{
    margin: auto;
    position: relative;
    top: 0;
    width: 570px;
    height: 790px;
    overflow: visible;
    
}
.girl-head-bg{
    position: absolute;
    z-index: 0;
    
}
.girl-self{
    position: absolute;
    z-index: 1;
}
.girl-bg{
    position: absolute;
    z-index: 2;
    left: -58px;
}
.girl-body-bg{
    position: absolute;
    z-index: 3;
}
.girl-clothes{
    position: absolute;
    z-index: 4;
}
.girl-hair{
    position: absolute;
    z-index: 5;
}
.girl-face{
    position: absolute;
    z-index: 6;
}
.girl-hat{
    position: absolute;
    z-index: 7;
}

.boy-face-bg{
    position: absolute;
    z-index: 1;
}

.boy-self{
    position: absolute;
    z-index: 2;
}
.boy-bg{
    position: absolute;
    z-index: 3;
    left: -51px;
    top:12px;
}

.boy-modelbg-boy{
    position: absolute;
    z-index: 4;
}
.boy-clothes{
    position: absolute;
    z-index: 5;
}

.boy-face{
    position: absolute;
    z-index: 6;
}
.boy-hat{
    position: absolute;
    z-index: 7;
}