#u23423-4
{
	font-family: raleway-n3, sans-serif;
}

#u24299-4
{
	font-family: raleway-n6, sans-serif;
}

#u24313-4
{
	font-family: raleway-n6, sans-serif;
}

#u24306-4
{
	font-family: raleway-n6, sans-serif;
}

#u24319-4
{
	font-family: raleway-n6, sans-serif;
}

#u24330-4
{
	font-family: raleway-n6, sans-serif;
}

#u23425-6
{
	font-family: open-sans-n3, sans-serif;
}

#u24050-6,#u27390-6,#u27406-6,#u27446-6
{
	font-family: open-sans-n6, sans-serif;
}

#u23534-4,#u23541-4,#u23548-4,#u23552-4,#u23561-4,#u23586-4,#u24273-4
{
	font-family: raleway-n5, sans-serif;
}

#u27450-4
{
	font-family: raleway-n5, sans-serif;
}

#u24676-4
{
	font-family: raleway-n7, sans-serif;
}

#u23422-4,#u23424-4,#u23527-4,#u23528-4,#u23426-4,#u23591-4
{
	font-family: bebas-neue-n4, sans-serif;
}

#u23533-4,#u23542-4,#u23549-4,#u23553-4,#u23560-4,#u23587-4,#u24675-18,#u24667-11,#u24677-4,#u24280-4
{
	font-family: open-sans-n4, sans-serif;
}

