.version.index /* version checker */
{
	color: #0000E2;
	background-color: #DE9282;
}

@-ms-viewport
{
	width: 768px;
}

@-webkit-viewport
{
	width: 768px;
}

@-o-viewport
{
	width: 768px;
}

@-moz-viewport
{
	width: 768px;
}

@viewport
{
	width: 768px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 768px;
	min-height: 1023.9170241161646px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
}

#u23378
{
	z-index: 10;
	height: 432px;
	border-style: none;
	border-color: transparent;
	background-color: #191919;
}

#u23378-bw
{
	z-index: 10;
	height: 432px;
}

#u23421
{
	z-index: 12;
	min-height: 250px;
	background: transparent url("../../images/u23421-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(rgba(25,25,25,0)),color-stop(50%, rgba(25,25,25,0.7)));
	background: -webkit-linear-gradient(top,rgba(25,25,25,0) ,rgba(25,25,25,0.7) 50%);
	background: linear-gradient(to bottom,rgba(25,25,25,0) ,rgba(25,25,25,0.7) 50%);
	border-style: none;
	border-color: transparent;
	padding-bottom: 198px;
}

#u24650-3
{
	z-index: 162;
	width: 768px;
	min-height: 80px;
	background-color: #191919;
	position: relative;
}

#u23422-4
{
	z-index: 13;
	width: 675px;
	min-height: 85px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 85px;
	letter-spacing: 1px;
	text-align: center;
	line-height: 85px;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	margin-left: 63px;
	margin-top: 85px;
	position: relative;
}

#u23421-bw
{
	z-index: 12;
	min-height: 250px;
}

#u23423-4
{
	z-index: 17;
	width: 739px;
	min-height: 12px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 14px;
	letter-spacing: 10px;
	text-align: center;
	line-height: 14px;
	font-family: raleway, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 250px;
	left: 15px;
}

#buttonu24294
{
	z-index: 165;
	min-height: 70px;
	padding-bottom: 10px;
}

#buttonu24294.ButtonSelected
{
	min-height: 70px;
	margin: 0px;
}

#u24338
{
	z-index: 197;
	width: 135px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
	left: 21px;
}

#buttonu24294.ButtonSelected #u24338
{
	width: 135px;
	min-height: 0px;
	margin: 18px -10000px 0px 0px;
}

#u24338_img
{
	padding-right: 1px;
}

#menuu24295
{
	z-index: 166;
	width: 553px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 209px;
}

#u24296
{
	width: 74px;
	min-height: 60px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u24297
{
	width: 74px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 44px;
	position: relative;
}

#u24297:hover
{
	width: 74px;
	min-height: 0px;
	margin: 0px;
}

#u24297.MuseMenuActive
{
	width: 74px;
	min-height: 0px;
	margin: 0px;
}

#u24299-4
{
	width: 44px;
	min-height: 16px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 13px;
	letter-spacing: 1px;
	text-align: center;
	line-height: 16px;
	font-family: raleway, sans-serif;
	font-weight: 600;
	position: relative;
	margin-right: -10000px;
	top: 22px;
	left: 15px;
}

#u24297:hover #u24299-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 44px;
	margin: 0px -10000px 0px 0px;
}

#u24297.MuseMenuActive #u24299-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 44px;
	margin: 0px -10000px 0px 0px;
}

#u24310
{
	width: 81px;
	min-height: 60px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 76px;
}

#u24311
{
	width: 81px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 44px;
	position: relative;
}

#u24311.MuseMenuActive
{
	width: 81px;
	min-height: 0px;
	margin: 0px;
}

#u24313-4
{
	width: 51px;
	min-height: 16px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 13px;
	letter-spacing: 1px;
	text-align: center;
	line-height: 16px;
	font-family: raleway, sans-serif;
	font-weight: 600;
	position: relative;
	margin-right: -10000px;
	top: 22px;
	left: 15px;
}

#u24311.MuseMenuActive #u24313-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 51px;
	margin: 0px -10000px 0px 0px;
}

#u24303
{
	width: 161px;
	min-height: 60px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 159px;
}

#u24304
{
	width: 161px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 44px;
	position: relative;
}

#u24304.MuseMenuActive
{
	width: 161px;
	min-height: 0px;
	margin: 0px;
}

#u24306-4
{
	width: 131px;
	min-height: 16px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 13px;
	letter-spacing: 1px;
	text-align: center;
	line-height: 16px;
	font-family: raleway, sans-serif;
	font-weight: 600;
	position: relative;
	margin-right: -10000px;
	top: 22px;
	left: 15px;
}

#u24304.MuseMenuActive #u24306-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 131px;
	margin: 0px -10000px 0px 0px;
}

#u24317
{
	width: 130px;
	min-height: 60px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 322px;
}

#u24318
{
	width: 130px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 44px;
	position: relative;
}

#u24318.MuseMenuActive
{
	width: 130px;
	min-height: 0px;
	margin: 0px;
}

#u24319-4
{
	width: 100px;
	min-height: 16px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 13px;
	letter-spacing: 1px;
	text-align: center;
	line-height: 16px;
	font-family: raleway, sans-serif;
	font-weight: 600;
	position: relative;
	margin-right: -10000px;
	top: 22px;
	left: 15px;
}

#u24318.MuseMenuActive #u24319-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 100px;
	margin: 0px -10000px 0px 0px;
}

#u24324
{
	width: 99px;
	min-height: 60px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 454px;
}

#u24327
{
	width: 99px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 44px;
	position: relative;
}

#u24327.MuseMenuActive
{
	width: 99px;
	min-height: 0px;
	margin: 0px;
}

#u24330-4
{
	width: 70px;
	min-height: 16px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 13px;
	letter-spacing: 1px;
	text-align: center;
	line-height: 16px;
	font-family: raleway, sans-serif;
	font-weight: 600;
	position: relative;
	margin-right: -10000px;
	top: 22px;
	left: 14px;
}

#u24327.MuseMenuActive #u24330-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 70px;
	margin: 0px -10000px 0px 0px;
}

#u24297.MuseMenuActive #u24299-4 p,#u24311.MuseMenuActive #u24313-4 p,#u24304.MuseMenuActive #u24306-4 p,#u24318.MuseMenuActive #u24319-4 p,#u24327.MuseMenuActive #u24330-4 p
{
	color: #7F7F7F;
	visibility: inherit;
}

#buttonu24294-bw
{
	z-index: 165;
	min-height: 70px;
}

#u23372
{
	z-index: 2;
	height: 568px;
	border-style: none;
	border-color: transparent;
	background: #191919 url("../../images/about_bg.jpg") no-repeat center top;
	background-size: cover;
}

#u23372-bw
{
	z-index: 2;
	height: 568px;
}

#u23373
{
	z-index: 3;
	min-height: 411.9999999999991px;
	background: -webkit-gradient(linear, center top, center bottom, from(rgba(0,0,0,0)),color-stop(100%, #191919));
	background: -webkit-linear-gradient(top,rgba(0,0,0,0) ,#191919 100%);
	background: linear-gradient(to bottom,rgba(0,0,0,0) ,#191919 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00000000, endColorstr=#FF191919, GradientType=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#FF191919', GradientType=0)";
	border-style: none;
	border-color: transparent;
	padding: 120px 132px 36.00000000000091px;
}

#u23424-4
{
	z-index: 21;
	width: 382px;
	min-height: 60px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 60px;
	letter-spacing: 1px;
	text-align: center;
	line-height: 60px;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	margin-left: 61px;
	position: relative;
}

#u23425-6
{
	z-index: 25;
	width: 504px;
	min-height: 330px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 27px;
	color: #FFFFFF;
	font-size: 18px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	margin-top: 22px;
	position: relative;
}

#u23373-bw
{
	z-index: 3;
	min-height: 411.9999999999991px;
}

#u23375
{
	z-index: 5;
	height: 1200px;
	border-style: none;
	border-color: transparent;
	background: #7F7F7F url("../../images/services_bg.jpg") no-repeat center top;
	background-size: cover;
}

#u23375-bw
{
	z-index: 5;
	height: 1200px;
}

#u23376
{
	z-index: 6;
	height: 1200px;
	border-style: none;
	background-color: #000000;
	opacity: 0.3;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
}

#u23376-bw
{
	z-index: 6;
	height: 1200px;
}

#u23527-4
{
	z-index: 35;
	width: 382px;
	min-height: 60px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 60px;
	letter-spacing: 1px;
	text-align: center;
	line-height: 60px;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 120px;
	left: 193px;
}

#u23529
{
	z-index: 43;
	width: 305px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 514px;
	left: 415px;
}

#u23535
{
	z-index: 44;
	width: 305px;
	border-style: none;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u23530
{
	z-index: 45;
	width: 280px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: 12px;
}

#u23531
{
	z-index: 54;
	width: 70px;
	background-color: transparent;
	margin-left: 105px;
	position: relative;
}

#u23534-4
{
	z-index: 50;
	width: 180px;
	min-height: 15px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 15px;
	letter-spacing: 1px;
	text-align: center;
	line-height: 15px;
	font-family: raleway, sans-serif;
	font-weight: 500;
	margin-left: 50px;
	margin-top: 10px;
	position: relative;
}

#u23533-4
{
	z-index: 46;
	width: 280px;
	min-height: 80px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 23px;
	color: #FFFFFF;
	font-size: 13px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-top: 8px;
	position: relative;
}

#u23536
{
	z-index: 56;
	width: 305px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 277px;
	left: 57px;
}

#u23537
{
	z-index: 57;
	width: 305px;
	border-style: none;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u23538
{
	z-index: 58;
	width: 280px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: 12px;
}

#u23539
{
	z-index: 67;
	width: 70px;
	background-color: transparent;
	margin-left: 105px;
	position: relative;
}

#u23541-4
{
	z-index: 63;
	width: 180px;
	min-height: 15px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 15px;
	letter-spacing: 1px;
	text-align: center;
	line-height: 15px;
	font-family: raleway, sans-serif;
	font-weight: 500;
	margin-left: 50px;
	margin-top: 10px;
	position: relative;
}

#u23542-4
{
	z-index: 59;
	width: 280px;
	min-height: 80px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 23px;
	color: #FFFFFF;
	font-size: 13px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-top: 8px;
	position: relative;
}

#u23543
{
	z-index: 69;
	width: 305px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 277px;
	left: 415px;
}

#u23544
{
	z-index: 70;
	width: 305px;
	border-style: none;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u23545
{
	z-index: 71;
	width: 280px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: 12px;
}

#u23546
{
	z-index: 80;
	width: 70px;
	background-color: transparent;
	margin-left: 105px;
	position: relative;
}

#u23548-4
{
	z-index: 76;
	width: 180px;
	min-height: 15px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 15px;
	letter-spacing: 1px;
	text-align: center;
	line-height: 15px;
	font-family: raleway, sans-serif;
	font-weight: 500;
	margin-left: 50px;
	margin-top: 10px;
	position: relative;
}

#u23549-4
{
	z-index: 72;
	width: 280px;
	min-height: 80px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 23px;
	color: #FFFFFF;
	font-size: 13px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-top: 8px;
	position: relative;
}

#u23550
{
	z-index: 82;
	width: 305px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 514px;
	left: 57px;
}

#u23556
{
	z-index: 83;
	width: 305px;
	border-style: none;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u23551
{
	z-index: 84;
	width: 280px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: 12px;
}

#u23554
{
	z-index: 93;
	width: 70px;
	background-color: transparent;
	margin-left: 105px;
	position: relative;
}

#u23552-4
{
	z-index: 89;
	width: 180px;
	min-height: 15px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 15px;
	letter-spacing: 1px;
	text-align: center;
	line-height: 15px;
	font-family: raleway, sans-serif;
	font-weight: 500;
	margin-left: 50px;
	margin-top: 10px;
	position: relative;
}

#u23553-4
{
	z-index: 85;
	width: 280px;
	min-height: 80px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 23px;
	color: #FFFFFF;
	font-size: 13px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-top: 8px;
	position: relative;
}

#u23557
{
	z-index: 95;
	width: 305px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 750px;
	left: 415px;
}

#u23558
{
	z-index: 96;
	width: 305px;
	border-style: none;
	background-color: transparent;
	padding-bottom: 11px;
	position: relative;
	margin-right: -10000px;
}

#u23559
{
	z-index: 97;
	width: 280px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: 12px;
}

#u23562
{
	z-index: 106;
	width: 70px;
	background-color: transparent;
	margin-left: 105px;
	position: relative;
}

#u23561-4
{
	z-index: 102;
	width: 180px;
	min-height: 15px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 15px;
	letter-spacing: 1px;
	text-align: center;
	line-height: 15px;
	font-family: raleway, sans-serif;
	font-weight: 500;
	margin-left: 50px;
	margin-top: 10px;
	position: relative;
}

#u23560-4
{
	z-index: 98;
	width: 280px;
	min-height: 80px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 23px;
	color: #FFFFFF;
	font-size: 13px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-top: 8px;
	position: relative;
}

#u23581
{
	z-index: 108;
	width: 305px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 750px;
	left: 57px;
}

#u23582
{
	z-index: 109;
	width: 305px;
	border-style: none;
	background-color: transparent;
	padding-bottom: 11px;
	position: relative;
	margin-right: -10000px;
}

#u23535:hover,#u23537:hover,#u23544:hover,#u23556:hover,#u23558:hover,#u23582:hover
{
	background-color: transparent;
	width: 305px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u23583
{
	z-index: 110;
	width: 280px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: 12px;
}

#u23584
{
	z-index: 119;
	width: 70px;
	background-color: transparent;
	margin-left: 105px;
	position: relative;
}

#u23586-4
{
	z-index: 115;
	width: 180px;
	min-height: 15px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 15px;
	letter-spacing: 1px;
	text-align: center;
	line-height: 15px;
	font-family: raleway, sans-serif;
	font-weight: 500;
	margin-left: 50px;
	margin-top: 10px;
	position: relative;
}

#u23587-4
{
	z-index: 111;
	width: 280px;
	min-height: 80px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 23px;
	color: #FFFFFF;
	font-size: 13px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-top: 8px;
	position: relative;
}

#u27273-3
{
	z-index: 7;
	width: 768px;
	min-height: 1350px;
	border-style: none;
	border-color: transparent;
	background-color: #DEDEDE;
	position: relative;
	margin-right: -10000px;
}

#u23528-4
{
	z-index: 39;
	width: 350px;
	min-height: 60px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #191919;
	font-size: 60px;
	letter-spacing: 1px;
	text-align: center;
	line-height: 60px;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 120px;
	left: 209px;
}

#pamphletu23597
{
	z-index: 125;
	width: 0.01px;
	height: 28px;
	padding-bottom: 922px;
	position: relative;
	margin-right: -10000px;
	margin-top: 228px;
	left: 54px;
}

#u23602
{
	position: absolute;
	width: 673px;
	background-color: transparent;
	top: 78px;
}

#u23602popup
{
	z-index: 126;
}

#u24047
{
	z-index: 127;
	width: 409px;
	height: 252px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	padding: 9px 117px 611px 147px;
}

#buttonu24652
{
	z-index: 134;
	width: 380px;
	padding-bottom: 1px;
	left: -1px;
	position: relative;
	background: transparent url("../../images/img_20160108_233250121.jpg") no-repeat left top;
	background-size: contain;
}

#buttonu24652.ButtonSelected
{
	background-repeat: no-repeat;
	background-position: left top;
	width: 380px;
	min-height: 0px;
	margin: 0px;
	background-size: contain;
}

#u24653
{
	z-index: 135;
	width: 378px;
	height: 208px;
	border-width: 1px;
	border-style: solid;
	position: relative;
	margin-right: -10000px;
}

#buttonu24652:hover #u24653
{
	border-radius: 30px;
	width: 378px;
	height: 208px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#buttonu24652.ButtonSelected #u24653
{
	border-radius: 0px;
	width: 378px;
	height: 208px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

.customFrameCurve
{
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
}

#pu24050-6
{
	width: 0.01px;
	margin-left: 79px;
	margin-top: 6px;
}

#u24050-6
{
	z-index: 128;
	width: 220px;
	min-height: 14px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #191919;
	font-size: 13px;
	letter-spacing: 1px;
	text-align: center;
	line-height: 13px;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
}

#u27371-6
{
	z-index: 136;
	width: 98px;
	min-height: 23px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 232px;
}

#u27371-2
{
	color: #2A43FF;
}

#u24269
{
	z-index: 142;
	width: 180px;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 240px;
}

#u24272
{
	position: absolute;
	width: 199px;
	border-width: 1px;
	border-style: solid;
	border-color: #191919;
	background-color: #191919;
	padding-bottom: 6px;
	top: -7px;
	left: -11px;
}

#u24272:hover
{
	border-color: #4C4C4C;
	background-color: #4C4C4C;
	width: 199px;
	min-height: 0px;
	margin: 0px;
}

#u24272.PamphletThumbSelected
{
	border-color: #191919;
	background-color: transparent;
	width: 199px;
	min-height: 0px;
	margin: 0px;
}

#u24273-4
{
	z-index: 144;
	width: 180px;
	min-height: 20px;
	background-color: transparent;
	letter-spacing: 2px;
	color: #FFFFFF;
	text-align: center;
	line-height: 20px;
	font-family: raleway, sans-serif;
	font-weight: 500;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 10px;
}

#u24272:hover #u24273-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 180px;
	margin: 7px -10000px 0px 0px;
}

#u24272.PamphletThumbSelected #u24273-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 180px;
	margin: 7px -10000px 0px 0px;
}

#u24272.PamphletThumbSelected #u24273-4 p
{
	color: #191919;
	visibility: inherit;
}

.MenuItem,.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* unifiedNavBar */
{
	cursor: pointer;
}

#pu23378,#pu23372,#pu23375,#pu27273-3,#pu23374
{
	width: 0.01px;
}

#u23374
{
	z-index: 4;
	min-height: 502px;
	border-style: none;
	border-color: transparent;
	background-color: #191919;
	padding: 120px 193px 778px;
}

#u23426-4
{
	z-index: 31;
	width: 382px;
	min-height: 60px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 60px;
	letter-spacing: 1px;
	text-align: center;
	line-height: 60px;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	position: relative;
}

#buttonu24654
{
	z-index: 205;
	width: 260px;
	border-radius: 0px;
	margin-left: 61px;
	margin-top: 19px;
	position: relative;
}

#buttonu24654.ButtonSelected
{
	width: 260px;
	min-height: 0px;
	margin: 19px 0px 0px 61px;
}

.menuFadeinScroll,.menuStickTop,.elem-01,.elem-03
{
	border-style: none;
	border-color: #000000;
	background-color: transparent;
}

#u24655
{
	z-index: 206;
	width: 260px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#pamphletu24656
{
	z-index: 207;
	width: 0.01px;
	height: 320px;
	padding-bottom: 14px;
	position: relative;
	margin-right: -10000px;
}

#u24659
{
	z-index: 208;
	width: 260px;
	position: relative;
	margin-right: -10000px;
}

#u24660
{
	position: absolute;
	width: 260px;
	height: 320px;
	border-style: none;
	border-color: transparent;
	background: #7F7F7F url("../../images/yeah.jpg") no-repeat left top;
	background-size: cover;
}

#u24660.PamphletThumbSelected
{
	background-repeat: no-repeat;
	background-position: left top;
	width: 260px;
	height: 320px;
	min-height: 0px;
	margin: 0px;
	background-size: cover;
}

#u24665
{
	position: absolute;
	width: 260px;
	background-color: transparent;
}

#u24665popup
{
	z-index: 210;
}

#u24666
{
	z-index: 211;
	width: 260px;
	height: 334px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	opacity: 0.9;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	filter: alpha(opacity=90);
	margin-right: -10000px;
	position: relative;
}

#u24675-18
{
	z-index: 212;
	width: 220px;
	min-height: 177px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 32px;
	left: 20px;
}

#u24675-3
{
	font-size: 13px;
	text-align: left;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u24675-2
{
	font-size: 12px;
	line-height: 23px;
}

#u24675-5,#u24675-7,#u24675-9,#u24675-11,#u24675-13,#u24675-15
{
	font-size: 12px;
	text-align: left;
	line-height: 23px;
}

#u24675-16
{
	font-size: 13px;
	text-align: center;
	line-height: 25px;
}

#u24674
{
	z-index: 230;
	width: 80px;
	height: 1px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	position: relative;
	margin-right: -10000px;
	margin-top: 219px;
	left: 90px;
}

#u24667-11
{
	z-index: 231;
	width: 220px;
	min-height: 133px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 13px;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 195px;
	left: 20px;
}

#u24675,#u24667
{
	line-height: 25px;
}

#u24667-3,#u24667-9
{
	line-height: 24px;
	letter-spacing: -1px;
}

#u24667-4
{
	font-size: 1px;
	line-height: 0px;
}

#u24669
{
	z-index: 240;
	width: 32px;
	background-color: transparent;
}

#u24672
{
	z-index: 245;
	width: 32px;
	background-color: transparent;
}

#u24669_img,#u24672_img
{
	vertical-align: bottom;
}

#u24676-4
{
	z-index: 248;
	width: 220px;
	min-height: 15px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 15px;
	letter-spacing: 3px;
	text-align: center;
	line-height: 15px;
	font-family: raleway, sans-serif;
	font-weight: 700;
	margin-left: 81px;
	margin-top: 44px;
	position: relative;
}

#u24678
{
	z-index: 256;
	width: 50px;
	height: 1px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-left: 166px;
	margin-top: 7px;
	position: relative;
}

#u24677-4
{
	z-index: 252;
	width: 220px;
	min-height: 14px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 13px;
	letter-spacing: 1px;
	text-align: center;
	line-height: 13px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-left: 81px;
	margin-top: 8px;
	position: relative;
}

#u23374-bw
{
	z-index: 4;
	min-height: 502px;
}

#home,#about,#services,#portfolio,#team
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
}

#contact
{
	position: relative;
}

#u23591-4
{
	z-index: 121;
	width: 350px;
	min-height: 60px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #191919;
	font-size: 60px;
	letter-spacing: 1px;
	text-align: center;
	line-height: 60px;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	margin-left: 209px;
	margin-top: 102px;
	position: relative;
}

#u24683-4
{
	z-index: 257;
	width: 480px;
	min-height: 80px;
	color: #000000;
	font-size: 52px;
	text-align: left;
	line-height: 52px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	margin-left: 135px;
	margin-top: 82px;
	position: relative;
}

#u24683-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 80px;
	width: 480px;
	margin: 82px 0px 0px 135px;
}

#u24683-4:active
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 80px;
	width: 480px;
	margin: 82px 0px 0px 135px;
}

#u24683-4:hover p
{
	color: #2450FF;
	visibility: inherit;
}

#u24683-4:active p
{
	color: #E01200;
	visibility: inherit;
}

#u23382
{
	z-index: 11;
	width: 17px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-top: 110px;
	position: relative;
}

#pu24278
{
	width: 0.01px;
	margin-top: -12px;
}

#u24278
{
	z-index: 148;
	min-height: 65px;
	border-style: none;
	border-color: transparent;
	background-color: #2C2C2C;
	padding-bottom: 75px;
}

#u24281
{
	z-index: 154;
	width: 45px;
	min-height: 45px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #6B6C70;
	line-height: 30px;
	font-size: 30px;
	text-align: center;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	left: 271px;
}

#u24283
{
	z-index: 155;
	width: 45px;
	min-height: 45px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #6B6C70;
	line-height: 30px;
	font-size: 30px;
	text-align: center;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	left: 332px;
}

#u24285
{
	z-index: 156;
	width: 45px;
	min-height: 45px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #6B6C70;
	line-height: 30px;
	font-size: 30px;
	text-align: center;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	left: 392px;
}

#u24287
{
	z-index: 157;
	width: 45px;
	min-height: 45px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #6B6C70;
	line-height: 30px;
	font-size: 30px;
	text-align: center;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	left: 453px;
}

#buttonu24289
{
	z-index: 158;
	width: 50px;
	border-style: none;
	border-color: transparent;
	background-color: #4C4C4C;
	position: relative;
	margin-right: -10000px;
	margin-top: 15px;
	left: 692px;
}

#buttonu24289:hover
{
	width: 50px;
	min-height: 0px;
	margin: 15px -10000px 0px 0px;
}

#buttonu24289.ButtonSelected
{
	width: 50px;
	min-height: 0px;
	margin: 15px -10000px 0px 0px;
}

#u24290
{
	z-index: 159;
	width: 50px;
	border-style: none;
	border-color: transparent;
	background-color: #191919;
	padding-bottom: 10px;
	position: relative;
	margin-right: -10000px;
}

#buttonu24289:hover #u24290
{
	width: 50px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#buttonu24289.ButtonSelected #u24290
{
	width: 50px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u24291
{
	z-index: 160;
	width: 30px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	opacity: 0.45;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=45)";
	filter: alpha(opacity=45);
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 10px;
}

#buttonu24289:hover #u24291
{
	opacity: 0.85;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";
	filter: alpha(opacity=85);
	width: 30px;
	min-height: 0px;
	margin: 10px -10000px 0px 0px;
}

#buttonu24289:active #u24291
{
	opacity: 0.65;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=65)";
	filter: alpha(opacity=65);
	width: 30px;
	min-height: 0px;
	margin: 10px -10000px 0px 0px;
}

#buttonu24289.ButtonSelected #u24291
{
	opacity: 0.45;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=45)";
	filter: alpha(opacity=45);
	width: 30px;
	min-height: 0px;
	margin: 10px -10000px 0px 0px;
}

#u24278-bw
{
	z-index: 148;
	min-height: 65px;
}

#u24279
{
	z-index: 149;
	min-height: 35px;
	border-style: none;
	border-color: transparent;
	background-color: #191919;
	padding-bottom: 25px;
}

#u24280-4
{
	z-index: 150;
	width: 346px;
	min-height: 11px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #CCCCCC;
	font-size: 11px;
	letter-spacing: 1px;
	text-align: center;
	line-height: 11px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 24px;
	left: 211px;
}

#u24279-bw
{
	z-index: 149;
	min-height: 35px;
	margin-top: 80px;
}

body
{
	position: relative;
	min-width: 768px;
}

#page .verticalspacer
{
	clear: both;
}

