#u11040-4
{
	font-family: raleway-n6, sans-serif;
}

#u11050-4
{
	font-family: raleway-n6, sans-serif;
}

#u11016-4
{
	font-family: raleway-n6, sans-serif;
}

#u15050-4
{
	font-family: raleway-n6, sans-serif;
}

#u11031-4
{
	font-family: raleway-n6, sans-serif;
}

#u595-2
{
	font-family: raleway-n6, sans-serif;
}

#u21407-4
{
	font-family: raleway-n5, sans-serif;
}

#u585-4
{
	font-family: open-sans-n3, sans-serif;
}

#u27456-6,#u27481-6,#u27376-6,#u18520-6,#u27421-6,#u27399-6
{
	font-family: open-sans-n6, sans-serif;
}

#u18527-4
{
	font-family: raleway-n5, sans-serif;
}

#u21414-4,#u21419-4,#u21427-4,#u21434-4,#u21440-4,#u21446-4
{
	font-family: raleway-n5, sans-serif;
}

#u595-6,#u422-4,#u22997-4,#u15067-4
{
	font-family: raleway-n3, sans-serif;
}

#u15070-3
{
	font-family: raleway-n4, sans-serif;
}

#u11138-4
{
	font-family: raleway-n7, sans-serif;
}

#u135-4,#u584-4,#u2066-4,#u652-4,#u11087-4,#u2416-4
{
	font-family: bebas-neue-n4, sans-serif;
}

#u21411-4,#u21418-4,#u21428-4,#u21435-4,#u21439-4,#u21447-4,#u11131-18,#u23063-11,#u11136-4,#u21229-4
{
	font-family: open-sans-n4, sans-serif;
}

